* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

/* Вся шапка страницы */
header {
    font-size: 20px;
    display: flex;
    background: aliceblue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #000;
}

/* Лого */
.logo {
    height: 30px;
    width: 30px;
}

h1 {
    font-size: 25px;
    padding: 20px;
    padding-left: 0;
    margin-bottom: 0px;
    margin-top: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    position: relative;
    float: left;
    display: inline-flex;
    width: fit-content;
}

nav ul li a {
    padding: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-decoration: none;
}

nav ul li a:hover {
    background: rgb(166, 203, 236);
}

main {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: aliceblue;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

input {
    margin-bottom: 10px;
}

.iamnew,
#regBtn,
#logBtn {
    width: 200px;
    background: aliceblue;
    padding: 5px 10px 5px 10px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

.iamnew:hover,
#regBtn:hover,
#logBtn:hover {
    background: rgb(166, 203, 236);
    cursor: pointer;
}

.newUserDiv {
    width: 200px
}

.newUserDiv a {
    text-decoration: none;
}

.apartmentsContainer {
    display: flex;
    justify-self: center;
    flex-direction: column;
    border: 1px solid black;
    width: 95%;
}

.apartment_block {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .imageDiv {
        display: flex;
        justify-content: center;
        width: 40%;
    }

    .infoDiv {
        width: 50%;
    }

    .like {
        width: 50px;
        align-items: center;
        background-color: rgb(196, 241, 241);;
    }

    .like:hover {
        cursor: pointer;
        background-color: rgb(155, 233, 233);
    }

    .apartImage {
        width: 90%;
    }

    .ownerFunctions {
        width: 10%;
    }

    .ownerButtonsDel,
    .ownerButtonsPut {
        text-align: center;
        font-size: medium;
        background-color: rgb(196, 241, 241);
        width: 95%
    }

    .ownerButtonsDel:hover,
    .ownerButtonsPut:hover {
        cursor: pointer;
        background-color: rgb(155, 233, 233);
    }

.newApart {
    flex-direction: column;
    display: flex;
    align-items: center;
    border: 1px solid black
}

.postInputDiv {
    display: flex;
}

.postInput {
    width: 100%;
    justify-self: center;
    border-radius: 10px;
    padding: 5px;
}

.postButtonDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.addingButton {
    width: 80%;
    text-align: center;
    background-color: rgb(196, 241, 241);;
}

.addingButton:hover {
    cursor: pointer;
    background-color: rgb(155, 233, 233);
}

.messageDiv {
    text-align: center;
    color: red;
    width: 350px;
    background-color: rgb(249, 175, 175);
}